*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/* apply margin on direct child of spacing 
which having sibling before if there is no
 sibling before dont apply margin on top */
.spacing>*+* {
    margin-top: var(--spacer, 2rem);
}

section {
    padding: 7em 0;
}

.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;

}

.split {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}


/* these single images need 15em but if we provide more space
 they will grow and flex basis means 30% for each image out of three*/
/* flex basis work like a max width */
.split>* {
    flex-basis: 30%;
    min-width: 15em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--clr-text, white);
    padding: .5em 1.25em;
    background-color: var(--clr-text, #5d5dff);
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    border-radius: .25em;
    transition:

        transform 250ms ease-in-out,
        opacity 2s;


}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .8;

}

.primary-title {
    font-size: 4rem;
    line-height: 1;
    text-transform: uppercase;
}



.section-title {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1;
    color: rgb(26, 26, 51);
    margin-bottom: 5rem;
}

.hero {
    color: white;
    text-align: center;
    padding: 5em 0;
    background-image: url(img/shoes1.png);
    /* radial-gradient(#444 , #111); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #444;
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: multiply;

}

.featured {
    background: rgb(241 241 241);



}

.featured__item {
    transform: scale(.85);
    position: relative;
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    line-height: 1.2;


}

.featured__item:hover,
.featured__item:focus {
    transform: scale(1);
}

.featured__item::after {
    content: "";
    position: absolute;
    background: rgb(122, 181, 232);
    padding: 66% 86% 0 0;
    top: 5%;
    left: 14%;
    right: 0;
    z-index: -1;
    border-radius: 50%;
}


.featured__details {


    text-align: center;
    color: black;
}



.price {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(26, 26, 30);
}

.product {
    background: radial-gradient(aqua, rgb(78, 98, 158));
    border-radius: 1rem;
    margin-bottom: 3rem;
    color: white;
    line-height: 1;
    padding: 1rem;
    text-align: center;
}

.footer-container {
    text-align: center;
    background-color: aquamarine;
}

.footer__list {
    list-style: none;
    display: flex;
    align-items: center;
    width: 41%;
    margin: auto;
    justify-content: space-between;
    padding: 1rem;
}

.footer__list__item {
    color: black;
    text-decoration: none;
}

.footer__list__item:hover {
    color: #5d5dff;

}

.footer__detail {
    padding-bottom: .5rem;
}

.product__image {
    margin: -3em 0 0 0;
}